$primary-color: #79a688;
$secondary-color: #b1c8f5;

a {
  text-decoration: none;

}

* {
  font-family: 'Rubik', sans-serif;
}

.btn {
  background-color: $primary-color; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-secondary {
  background-color: $secondary-color;
}

.inline-block {
  display: inline-block;
}

.movies-list {
  border: solid $primary-color;
  padding: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.single-movie {
  border: solid $primary-color;
  text-align: center;
}